$background-color: #121113;
$nav-color: #070507;
$accent-color: #0ffff8;
$font-color: white;
$transparent-color: #ffffff00;

.custom-button {
    border-radius: 1rem;
    padding: 0.25rem 1.25rem;
    background-color: $accent-color;
    color: $font-color;
    border: none;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        box-shadow: 0 0 2rem $accent-color;
    }
}