@import 'https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap';

$background-color: #121113;
$nav-color: #070507;
$accent-color: #0ffff8;
$font-color: white;
$transparent-color: #ffffff00;

html {
  height: 100%;
}

#root {
  min-height: calc(100% - 7.5rem);
  padding-top: 4rem;
  padding-bottom: 3.5rem;
  position: relative;
}

body {
  background-color: $background-color;
  height: 100%;
  color: $font-color;

  * {
    font-family: "Oxanium", sans-serif;
  }
}

main {
  max-width: 45rem;
  margin: auto;
  padding: 0rem 1rem;
}

h3 {
  margin: 5px 0px 0px 0px;
}

a {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid $transparent-color;

  &:hover {
    color: $accent-color;
    border-bottom: 2px solid $accent-color;
    transition: 0.7s;
  }
}

.active {
  color: $accent-color;
  border-bottom: 2px solid $accent-color;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $nav-color;
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  background-color: $nav-color;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: small;
}

.burger-button {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0.3rem 0rem;
  justify-content: space-between;
  right: 1rem;
  align-items: center;
  background-color: $transparent-color;
  color: $accent-color;
  border: none;
  width: 2rem;
  border-radius: 0.2rem;
  height: 2rem;

  @media (min-width: 600px) {
    display: none;
  }

  &-stripe {
    width: 100%;
    height: 0.07rem;
    border-radius: 0.2rem;
    border: 0.05rem solid $accent-color;
    background-color: $accent-color;
  }
}

nav {
  padding: 0rem 1rem;
  margin: auto;
  min-height: 4rem;
  align-items: center;
  justify-content: space-between;
  max-width: 45rem;

  @media (min-width: 600px) {
    display: flex;
  }
}


.App-header-left {
  display: flex;
  gap: 3px;

  @media (min-width: 600px) {
    position: relative;
  }

  @media (max-width: 600px) {
    align-items: center;
    min-height: 4rem;
  }

  :nth-child(2) {
    color: $accent-color;
  }
}

.App-header-right {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;

  @media (max-width: 600px) {
    display: none;
  }
}

.App-header-mobile {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: absolute;
  top: 3rem;
  right: 0;
  min-width: 10rem;
  font-size: 1.8rem;
  background-color: $nav-color;
  padding: 0rem 0.5rem 0.20rem 0.5rem;

  @media (min-width: 600px) {
    display: none;
  }
}